.main-content {
    min-height: 75vh;
    max-height: 75vh;
    border: 1px solid $color-primary;
    background-image: linear-gradient(to bottom right, 
    rgba(black, .8), transparent),
    url(../../../public/images/file-bg.jpg);

    overflow-y: scroll;
    color: white !important;
    
    @include respond (tab_md) {
        min-height: 100vh;
        max-height: inherit;
    }
}

.navbar-brand {
    @include respond (phone_sm) {
        font-size: 12px;
    }
}

.nav-col {
    padding: 0 !important;
}