.navbar__main {
    display: none;

    @include respond(tab_lg) {
        display: block;
    }

    .sidenav__link {
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 3px;
        color: $color-primary;
    }
}

#navbarDropdown {
    @include respond(tab_lg) {
        text-align: center;
    }
}

.sidenav {
    @include respond(tab_lg) {
        display: none;
    }

    &__list {
        padding: 0;
        margin: 0;
        text-align: center;
        margin-top: 20px;
    }

    &__item {
        list-style: none;
        padding: 20px 10px;

        &:hover {
            background-color: $color-primary;
        }
    }

    &__item:hover &__link {
        color: $color-white;
    }

    &__link {
        text-decoration: none;
        color: black;
    }

    &--active {
        background-color: $color-black;

        & a {
            color: $color-white;
        }
    }
}

