// COLOR
// $color-primary: #6e67ff;
$color-primary: rgba(black, .5);
$color-secondary: gray;

$color-black: #000000;
$color-white: #fdfdfd;
$color-gray-dark: darkgray;

// Typography
$default-font-size: 12px;